.width-80 {
    width: 80%;
}

.pass-box {
    width: 100%;
    padding: 4px;
    margin-left: -2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-col {
    flex-direction: column;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-15 {
    font-size: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}